[submodule "external/NRD"]
	path = external/NRD
	url = https://github.com/NVIDIA-RTX/NRD.git
[submodule "external/ShaderMake"]
	path = external/ShaderMake
	url = https://github.com/NVIDIA-RTX/ShaderMake.git
[submodule "external/MathLib"]
	path = external/MathLib
	url = https://github.com/NVIDIA-RTX/MathLib.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/miniaudio"]
	path = external/miniaudio
	url = https://github.com/mackron/miniaudio.git
